body{
    font-family: 'source code pro', monospace;
}
.book__container > h1,h2{
    padding:1em;
    text-align:center;
}
.book__self{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,max-content));
    gap: 1.6em;
    justify-content:center;
    margin-bottom:2em;
}
.book{
    padding:0.7em;
    border: 2px solid var(--clr-gray500);
    width:200px;
    transition:all 0.3s ease-out

}
.book:hover{
    box-shadow: 7px 7px 8px 4px  var(--clr-gray300);
}
.book > .book__status{
    margin-bottom:0.5em;
}
.button a{
    font-size: var(--fs-base);
    font-weight: bold;

}
.button a:hover{
    text-decoration: underline;
}

.book img, .book__notfound{
    margin-bottom: 0.5em;
    width:100%;
}
